.home {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -300px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
